<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="John Nilsson" />
   <link rel="stylesheet" href="/style.css" type="text/css" />
   <script type="text/javascript" src="/MathJax/MathJax.js">
     MathJax.Hub.Config({
       extensions: ["tex2jax.js"],
       jax: ["input/TeX","output/HTML-CSS"],
       showProcessingMessage: true,
       "HTML-CSS": { imageFont: null }
     });
   </script>
</head>
<body>
<div id="main">
  <h1><a href="{{ page.url }}">{{ page.title }}</a></li></h1>
  {{ content }}
</div>
</body>
</html>
